In [ ]:
!pip install pyranges

Requirement already satisfied: pyranges in /usr/local/lib/python3.6/dist-packages (0.0.79)
Requirement already satisfied: natsort in /usr/local/lib/python3.6/dist-packages (from pyranges) (5.5.0)
Requirement already satisfied: sorted-nearest>=0.0.30 in /usr/local/lib/python3.6/dist-packages (from pyranges) (0.0.31)
Requirement already satisfied: tabulate in /usr/local/lib/python3.6/dist-packages (from pyranges) (0.8.7)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pyranges) (1.0.4)
Requirement already satisfied: pyrle in /usr/local/lib/python3.6/dist-packages (from pyranges) (0.0.31)
Requirement already satisfied: ncls>=0.0.50 in /usr/local/lib/python3.6/dist-packages (from pyranges) (0.0.53)
Requirement already satisfied: cython in /usr/local/lib/python3.6/dist-packages (from pyranges) (0.29.20)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from sorted-nearest>=0.0.30->pyranges) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pyranges) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->pyranges) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->pyranges) (1.12.0)

***Installed Pyranges for dataset***

In [ ]:
import pandas as pd
import pyranges as pr
cgi=pr.read_bed("CGI.bed",as_df=True)
cgi=cgi.loc[cgi["Chromosome"]=="chr15"]
cgi.to_csv("chr15_cgi.csv",index =False)
chr15_cgi=pd.read_csv("chr15_cgi.csv")
chr15_cgi

    Chromosome      Start        End  Name
0        chr15   19898886   19899448    55
1        chr15   19943439   19944862   170
2        chr15   20074170   20074472    32
3        chr15   20168340   20168830    47
4        chr15   20294621   20295605   100
..         ...        ...        ...   ...
776      chr15  101651961  101653142   120
777      chr15  101723986  101724547    75
778      chr15  101745482  101746213    84
779      chr15  101752507  101764820   798
780      chr15  101961150  101962226   116

[781 rows x 4 columns]

In [ ]:
import pandas as pd
df = pd.read_csv('out.csv')
chr15_cgi = pd.read_csv('chr15_cgi.csv')
df['Loc to CGI'] = ""
for i in range(0, len(chr15_cgi)):
  df.loc[(df['start position'] >= chr15_cgi.iloc[i][1]) & (df['end position'] <= chr15_cgi.iloc[i][2]), 'Loc to CGI'] = True
df.loc[df['Loc to CGI'] == '' , 'Loc to CGI'] = False
df1 = df[['chromosome number','start position','end position','fraction of reads have dna methylation','Loc to CGI']]
df1.to_csv('Loc_to_CGI.csv')
Loc_to_CGI = pd.read_csv('Loc_to_CGI.csv')
Loc_to_CGI

        Unnamed: 0  ...  Loc to CGI
0                0  ...       False
1                1  ...       False
2                2  ...       False
3                3  ...       False
4                4  ...       False
...            ...  ...         ...
897759      897759  ...       False
897760      897760  ...       False
897761      897761  ...       False
897762      897762  ...       False
897763      897763  ...       False

[897764 rows x 6 columns]

In [ ]:
Loc_to_CGI1 = Loc_to_CGI.loc[Loc_to_CGI['Loc to CGI'] == True]
Loc_to_CGI1 = Loc_to_CGI1.reset_index()
Loc_to_CGI1

        index  Unnamed: 0  ...  fraction of reads have dna methylation  Loc to CGI
0       32688       32688  ...                                0.894737        True
1       32689       32689  ...                                0.965517        True
2       32690       32690  ...                                0.946429        True
3       32691       32691  ...                                0.883333        True
4       32692       32692  ...                                0.900000        True
...       ...         ...  ...                                     ...         ...
66335  897436      897436  ...                                0.000000        True
66336  897437      897437  ...                                0.000000        True
66337  897438      897438  ...                                0.000000        True
66338  897439      897439  ...                                0.000000        True
66339  897440      897440  ...                                0.035714        True

[66340 rows x 7 columns]

In [ ]:
print(Loc_to_CGI)

NameError: ignored